<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Automobiles</string>
		<key>type</key>
		<string>static</string>
		<key>children</key>
		<array>
			<dict>
				<key>name</key>
				<string>Cars</string>
				<key>type</key>
				<string>static</string>
				<key>children</key>
				<array>
					<dict>
						<key>name</key>
						<string>Small</string>
						<key>type</key>
						<string>static</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Medium</string>
						<key>type</key>
						<string>static</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Large</string>
						<key>type</key>
						<string>static</string>
					</dict>					
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Trucks</string>
				<key>type</key>
				<string>static</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SUVs</string>
				<key>type</key>
				<string>static</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Motorcycles</string>
				<key>type</key>
				<string>static</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Boats</string>
		<key>type</key>
		<string>static</string>
		<key>children</key>
		<array>	
			<dict>
				<key>name</key>
				<string>Sailboats</string>
				<key>type</key>
				<string>static</string>
			</dict>		
			<dict>
				<key>name</key>
				<string>Motorboats</string>
				<key>type</key>
				<string>static</string>
			</dict>		
			<dict>
				<key>name</key>
				<string>Canoes</string>
				<key>type</key>
				<string>static</string>
			</dict>		
			<dict>
				<key>name</key>
				<string>Kayaks</string>
				<key>type</key>
				<string>static</string>
			</dict>		
			<dict>
				<key>name</key>
				<string>Rafts</string>
				<key>type</key>
				<string>static</string>
			</dict>												
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Bicycles</string>
		<key>type</key>
		<string>static</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spacecraft</string>
		<key>type</key>
		<string>dynamic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aircraft</string>
		<key>type</key>
		<string>static</string>
		<key>children</key>
		<array>	
			<dict>
				<key>name</key>
				<string>Planes</string>
				<key>type</key>
				<string>static</string>
			</dict>		
			<dict>
				<key>name</key>
				<string>Helicopters</string>
				<key>type</key>
				<string>static</string>
			</dict>		
			<dict>
				<key>name</key>
				<string>Blimps</string>
				<key>type</key>
				<string>static</string>
			</dict>								
		</array>
	</dict>	
</array>
</plist>
